
<h1>Small sack</h1>

<p>Small sack is a small bag that can be used to carry items.</p>
<h1><%= @summoner.summoner_name %> </h1>
<div id="StatsGraph" phx-hook="StatsGraph">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>


